</div>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-brand">Biblioteca Ativa</div>
            <div class="footer-copyright">&copy; 2025 - Todos os direitos reservados</div>
        </div>
    </footer>
    
    <script src="/js/layout.js"></script>
    
    <% if (locals.jsFile) { %>
        <script src="/js/<%= locals.jsFile %>"></script>
    <% } %>
</body>
</html>